
.task-item {
  min-height: 90px;
  border: 1px solid gray;
  margin-bottom: 30px;
  // width: 90%;
  border-radius: 3%;
  padding-bottom: 15px;
  // display: flex;
  // justify-content: space-between;
}

.task-item-first {
  min-height: 90px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

h3 {
  font-size: 17px;
  margin-left: 5px;
}

h4 {
  margin: 0 5px;
}

.icon-wrapper {
  margin: 5px;
  height: fit-content;
}

.custom-mat-icon {
  margin: 5px;
}

.button-icon {
  height: 25px;
  padding-bottom: 5px;
  margin-top: -8px;
}
