<div class="header-wrapper">
  <h2 class="h2">Schedule</h2>
</div>
<mat-card class="demo-inline-calendar-card">
  <mat-calendar (selectedChange)="selected = $event"></mat-calendar>
</mat-card>
<div class="header-wrapper">
  <h2 class="h2">{{selected | date:'longDate' }} Work Items</h2>
</div>
<mat-list-item class='list-item' *ngFor="let workOrder of testWorkOrders; last as last"
(click)="goToWorkOrderInfo(workOrder.orderID)">
  <div style="display: flex; justify-content: left; padding-left: 10px">
    <div style="height: fit-content; margin: 0.5% 2% 0 0;">
      <i *ngIf="this.getAnnouncementType(workOrder.type)=='fix'"><mat-icon>build</mat-icon></i>
      <i *ngIf="this.getAnnouncementType(workOrder.type)=='install'"><mat-icon>build</mat-icon></i>
      <i *ngIf="this.getAnnouncementType(workOrder.type)=='meeting'"><mat-icon>announcement</mat-icon></i>
    </div>

    <h3 mat-line style="color: black; margin: 0 0 0 7px; width: fit-content">{{workOrder.title}}</h3>
  </div>
</mat-list-item>
