.header-wrapper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #2f64f9;
  }
  
  .list-wrapper {
    border-bottom: 1px solid #2f64f9;
  }
  
  .h2 {
    margin: 3%;
    color: #2f64f9;
    font-size: 20px;
    font-weight: bold;
  }

  tr {
    height: 45px;
    font-size: 18px;
  }
  
  tr:nth-child(even) {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
  }
  
  table {
    border-collapse: collapse;
  }