<div class="list-wrapper">
    <div class="header-wrapper">
      <span style="width: 33%; display: flex; flex-direction: column; justify-content: center;"><button (click)="this.backClicked()" style="background: inherit; border: none; width: 50%;"><mat-icon>keyboard_backspace</mat-icon></button></span>
      <span style="width: 33%; text-align: center;"><h2 class="h2">{{this.announcementId}}</h2></span>
      <span style="width: 33%;">
    </span>
    </div>
</div>
<div>
    <h2>All Hands Meeting scheduled for 10/01/2024</h2>
    <div style="border: 1px solid grey; border-radius: 4%; width: 85%; margin: 30px auto;">
        <div style="display: flex; justify-content: center;">
          <table style="text-align: center; width: 100%;">
            <tr>
              <td>Location</td>
              <td>Conference Room 101</td>
            </tr>
            <tr>
              <td>Time</td>
              <td>Today at 11:00AM</td>
            </tr>
            <tr>
              <td>Required</td>
              <td>Maintenance Team</td>
            </tr>
          </table>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita mollitia similique perspiciatis nihil blanditiis fugiat, quidem doloremque rerum distinctio ipsam adipisci id quibusdam maxime autem ipsum dolorem tempora consequatur facilis!</p>

</div>