<div class="header-wrapper">
  <h2 class="h2">Item Lookup</h2>
</div>
<div>
  <div style="display: flex; justify-content: center;">
    <input type="text" placeholder="Search for component" class="search-bar" #filter>
  </div>
  <div style="display: flex; justify-content: end;">
    <button mat-raised-button color="primary" class="search-button">Search</button>
    <button mat-raised-button color="primary" class="search-button">QR Search</button>
  </div>
</div>
<div>
  <ul>
    <li *ngFor="let item of searchItem" #item (click)="getCategoryItems(item)" class="list-item">
      {{item}}
    </li>
  </ul>
  <!-- Should probably do another <ul> here with the condition that the items are components (rather than locations), and selecting will take user to item description -->
</div>