.mat-list-base .mat-list-item {
  color: black;
}


.mat-divider {
  border-top-color: rgba(100, 99, 99, 0.467);
}

.mat-drawer-container {
  color: black;
}

.mat-divider.mat-divider-inset {
  margin: 0;
}

.mat-list-item:nth-child(even){
  background-color: #EDF1FF;
}

.h2 {
  margin: 3%;
  color: #2f64f9;
  font-size: 24px;
  font-weight: bold;
}

.icon {
  transform: scale(1.2);
}

.header-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #2f64f9;
}

.list-wrapper {
  border-bottom: 1px solid #2f64f9;
}

.list-item {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

h3 {
  font-size: 18px;
}
