/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-label{
  font-size: 18px !important;
}

@media (max-width: 599px){
  .mat-tab-label {
      min-width: 45% !important;
    }
  }
