<div class="list-wrapper">
  <div class="header-wrapper">
    <h2 class="h2">Announcements</h2>
  </div>
  <mat-list-item class='list-item' *ngFor="let announcement of testAnnouncements; last as last"
  (click)="this.goToAnnouncement(announcement.announcementId)">
    <div style="display: flex; justify-content: left; padding-left: 10px">
      <div style="height: fit-content; margin: 0.5% 2% 0 0;">
        <i *ngIf="this.getAnnouncementType(announcement.announcementType)=='fix'"><mat-icon>build</mat-icon></i>
        <i *ngIf="this.getAnnouncementType(announcement.announcementType)=='install'"><mat-icon>build</mat-icon></i>
        <i *ngIf="this.getAnnouncementType(announcement.announcementType)=='meeting'"><mat-icon>announcement</mat-icon></i>
      </div>

      <h3 mat-line style="color: black; margin: 0 0 0 7px; width: fit-content">{{announcement.title}}</h3>
    </div>
  </mat-list-item>
</div>
<div class="list-wrapper">
  <div class="header-wrapper">
    <h2 class="h2">Today's Work Orders</h2>
  </div>
  <mat-list-item class='list-item' *ngFor="let workOrder of testWorkOrders; last as last"
    (click)="this.goToWorkOrderInfo(workOrder.orderID)">
    <div style="display: flex; justify-content: left; padding-left: 10px">
      <div style="height: fit-content; margin: 0.5% 2% 0 0;">
        <i *ngIf="this.getAnnouncementType(workOrder.type)=='fix'"><mat-icon>build</mat-icon></i>
        <i *ngIf="this.getAnnouncementType(workOrder.type)=='install'"><mat-icon>build</mat-icon></i>
        <i *ngIf="this.getAnnouncementType(workOrder.type)=='meeting'"><mat-icon>announcement</mat-icon></i>
      </div>

      <h3 mat-line style="color: black; margin: 0 0 0 7px; width: fit-content">{{workOrder.title}}</h3>
    </div>
  </mat-list-item>
</div> 