.header-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #2f64f9;
}

.list-wrapper {
  border-bottom: 1px solid #2f64f9;
}

.h2 {
  margin: 3%;
  color: #2f64f9;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 599px){
.mat-tab-label {
    min-width: 45% !important;
  }
}

.example-tab-icon {
  margin-right: 8px;
}

.status-button {
  font-size: 17px;
  width: 21%;
  height: 60px;
  padding: 0;
}

tr {
  height: 45px;
  font-size: 18px;
}

tr:nth-child(even) {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

table {
  border-collapse: collapse;
}

.user-comment {
  height: 70px;
  margin-left: 5px;
  font-size: 16px;
}
