<div class="header-wrapper">
  <h2 class="h2">Component Lookup</h2>
</div>
<div>
  <div style="display: flex; justify-content: center;">
    <input type="text" placeholder="Enter a location" class="search-bar" #filter>
  </div>
  <div style="display: flex; justify-content: center;">
    <input type="text" placeholder="Enter component name or ID" class="search-bar" #filter>
  </div>
  <div style="display: flex; justify-content: end;">
    <button mat-raised-button color="primary" class="search-button">Search</button>
    <button mat-raised-button color="primary" class="search-button">QR Search</button>
  </div>
</div>
<!-- <div>
  <ul>
    <li *ngFor="let item of searchItem" #item (click)="getCategoryItems(item)" class="list-item">
      {{item}}
    </li>
  </ul>
</div> -->